@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');
/* CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

ul, il {
    list-style: none;
}

body {
    color: #333;
}
/*custom styles*/
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 850px;
  display: block;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
}

.header-gabarito {
  font-family: Gabarito;
}

p {
  margin: 10px 0;
}

ul {
  list-style: disc;
  margin: 10px;
  padding: 10px;
}

li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.image-wrap {
  overflow: auto;
}

.image-container{
  float: right;
  margin-right: 10px;
  max-width: 100%;
  max-height: auto;
}

.margin-bottom {
    margin-bottom: 20px;
}
iframe {
  max-width: 100%;
  width: 560px;
  display: block;
  margin: 0 auto;
}
